.storeItemsList {
  &__wrap {
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__video{
    width: calc(100% + 150px);
    height: 100%;
    margin-left: -50px;
    margin-top: -50px;
    object-fit: cover;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    font-size: 22px;
    margin-bottom: 50px;
  }
  &__img {
   height: 200px;
   background-position: center;
   background-color: red;
  }
  &__card {
    width: 100%;
    display: flex;
    margin-top: 50px;
  }
  &__card-img {
    width: 450px;
  }

  &__item {
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    padding-bottom: 26px;
    padding-top: 26px;

    cursor: pointer;
    &:hover{
      box-shadow: 0px 11px 14px 2px #979797;
    }

    .item__price {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

}
.ant-card {
  margin-right: 30px;
}

.card__descr {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
  justify-content: center;
  font-size: 28px;
}
