.directionSelect {

    &__wrap {
        font-size: 20px;
        display: flex;
        align-items: center;
        margin: 15px;
        width: 586px;
    }

    &__select {
        font-size: 20px;
        margin-left: 15px;
    }
}

.directionSelect-wrap {
    display: flex;
    justify-content: start;
}
