.directionSelect {
    &__wrap {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: start;
        margin: 15px;
    }

    &__select {
        font-size: 20px;
        margin-left: 15px;
    }
}
