.accrualHistory {
  &__wrap {
    display: flex;
    flex-direction: row;
  }

  &__title {
    font-size: 30px !important;
    border-top-color: #134BC5 !important;
    margin-top: 10px;
  }

  &__card {}

  &__list {}
}

.ant-list-footer {
  padding-left: 25px;
}